<div class="container">
    <span class="help is-info" *ngIf="isLoading">Loading...</span>
    <div fxLayout="20%" *ngIf="!isLoading">
        <div *ngFor="let f of forecast.forecast">
            <mat-card class="forecast-card">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>{{ f.sky }}</mat-icon>
                    </div>
                    <mat-title>{{ f.dateTime | myDate | date:'EEEE MMM dd' }}</mat-title>
                    
                </mat-card-header>
                <mat-card-content>
                    <p>Temperature: {{ f.temperature }}°C</p>
                    <img mat-card-image src="./../assets/sunny.jpg" alt="Photo ">            
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>